on:
  workflow_dispatch:
  push:
    branches:
      - main
      - alpha
      - beta
  pull_request:
    types: [opened, reopened, synchronize]

name: Create Release
jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: global.json

    - name: Dotnet Build
      working-directory: src
      run: dotnet build -c Release

    - name: Semantic Release
      uses: cycjimmy/semantic-release-action@v4
      id: semantic
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Dotnet Pack
      if: steps.semantic.outputs.new_release_published == 'true'
      working-directory: src
      run: dotnet pack -c Release -p:Version=${{ steps.semantic.outputs.new_release_version }}

    - name: Dotnet NuGet Push
      if: steps.semantic.outputs.new_release_published == 'true'
      working-directory: src/bin/Release
      run: dotnet nuget push ACR-SyncTool.*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
